.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.sidebarRow:hover {
  background-color: lightgrey;
  border-radius: 10px;
}

.sidebarRow > h4 {
  margin-left: 20px;
  font-weight: 600;
  font-size: large;
}

.sidebarRow > .MuiSvgIcon-root {
  font-size: xx-large;
  color: #2e81f4;
}
